*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anybody";
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url("https://www.apple.com/newsroom/images/product/iphone/geo/Apple-iPhone-14-iPhone-14-Plus-hero-220907-geo_Full-Bleed-Image.jpg.large.jpg");
    background-size: cover; 
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top:2px;
}
#iphonepic{
    width:100px;
    height:100px;
    object-fit:cover;
}
header h1{
    font-size: 50px;
    font-weight:600;
}
header p{
    margin-top: 5px;
    font-size: 25px;
    font-weight:500;
    margin-bottom: 20px;
}
header a{
    color: #066cc0;
    margin-top: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight:500;
    initial-letter: -0.5px;

}
#sec{
    height:100vh;
    width:100vw;
}
#sec video{
    height:100%;
    width:100%;
    object-fit: cover;
}